{% extends "main.html" %}

{% block content %}

<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<main class="profile-page layout layout--3">
    <div class="container">
        <!-- Topics Start -->
        <div class="topics">
            {% include 'topics.html' %}
        </div>
        <!-- Topics End -->

        <!-- Room List Start -->
        <div class="roomList">
            <div class="profile">
                <div class="profile__avatar">
                    <div class="avatar avatar--large active">
                        <img src="{{user.avatar.url}}" />
                    </div>
                </div>

                <div class="profile__info">
                    <h3>{{user.first_name}} {{user.last_name}}</h3>
                    <p>@{{user.username}}</p>
                    {% if request.user == user %}
                        <a href="{% url 'update' %}" class="btn btn--main btn--pill">Edit Profile</a>
                    {% endif %}
                </div>

                <div class="profile__about">
                    <h3>About</h3>
                    <p>{{user.description}}</p>
                </div>
            </div>

            <div class="roomList__header">
                <div>
                    <h2>Study Rooms Hosted by {{user.username}}</h2>
                </div>
            </div>
            {% include 'feed.html' %}

        </div>
        <!-- Room List End -->

        <!-- Activities Start -->
        <div class="activities">
            {% include 'activities.html' %}
        </div>
        <!-- Activities End -->
    </div>
</main>

{% endblock %}